<div class="container">
    <div class="row">
        <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
            <h3 class="text-center text-theme-primary">New Categories</h3>
            <p class="text-center mb-5">You can add new categories from here.....!</p>

            <form action="" class="form-inline text-center d-flex flex-row" [formGroup]="categoryForm" (ngSubmit)="saveCategory()">
                <div class="form-group col-md-10">
                    <input type="text" class="form-control shadow-effect" placeholder="Add new Category" formControlName="category">
                </div>

                <div class="col-md-2">
                    <button class="btn btn-block btn-info mt-2">Add Category</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{categoryForm.value | json}}